.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.custom-day.focused {
    background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
    background-color: #c96a19;
    color: white;
}
.custom-day.faded {
    background-color: #c96b195d;
}

:host ::ng-deep .ngb-dp-weekday {
    color: #c96a19;
}

:host ::ng-deep .ngb-dp-month-name {
    color: #c96a19;
}

:host ::ng-deep ngb-datepicker{
    background-color: white;
    box-shadow: 0 0.5rem 1rem black;
}

/* .container-datepicker{
    background-color: red;
} */